<h1>Appointments</h1>

<%= link_to "New Appointment", new_appointment_path, class: "btn btn-primary" %>

<ul>
  <% @appointments.each do |appointment| %>
    <li>
      <strong><%= appointment.title %></strong> - <%= appointment.start_time.strftime("%A, %B %d at %I:%M %p") %>
      <%= link_to "View", appointment_path(appointment), class: "btn btn-link" %>
     
      <%= link_to "Delete", appointments_path(appointment), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
    </li>
  <% end %>
</ul>
